<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Angular MadLib</title>
  </head>
  <body>
    <h1>Please fill out the following!</h1>

    <label for="boysname">Boy's Name</label><br>
    <input type="text" id='boysname' name="boysname" ng-model='boysname'><br><br>
    <label for="adjective">Adjective</label><br>
    <input type="text" id='adjective' name="adjective" ng-model='adjective'><br><br>
    <label for="plural1">Plural Noun</label><br>
    <input type="text" id='plural1' name="plural1" ng-model='plural1'><br><br>
    <label for="plural2">Plural Noun</label><br>
    <input type="text" id='plural2' name="plural2" ng-model='plural2'><br><br>
    <label for="insect">An insect, plural</label><br>
    <input type="text" id='insect' name="insect" ng-model='insect'><br><br>
    <label for="plural3">Plural Noun</label><br>
    <input type="text" id='plural3' name="plural3" ng-model='plural3'><br><br>
    <label for="verb">A verb ending in "s"</label><br>
    <input type="text" id='verb' name="verb" ng-model='verb'><br><br>

    <h2>Mad with the Libs</h2>
    <p>I'm in love with {{boysname | uppercase}}. He's so {{adjective | uppercase}}! He has big flat {{plural1 | uppercase}}, and when our {{plural2 | uppercase}} meet, I get {{insect | uppercase}} in my stomach. I've fallen for him like a ton of {{plural3 | uppercase}}, and he {{verb | uppercase}} me, too. But I think he's got another girlfriend. What should I do?</p>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  </body>
</html>
